.main{
  background-color:gold;
  padding:20px;
  color:green;
}

.sub{
  background-color:blue;
  padding:40px;
  color:white;
}

.user{
  color:red;
  font-weight:700;
}

.admin{
  color:green;
  font-weight:400;
  font-family:Arial;
}


